---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=GDP&ids=BTC,ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 96f98afb46f9bd627815cb0bbd2e3e518be28b04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"145074037.31392208","price_date":"2022-02-07T00:00:00Z","price_timestamp":"2022-02-07T21:08:00Z","circulating_supply":"18951450","max_supply":"21000000","market_cap":"2749363364452929","market_cap_dominance":"0.4011","num_exchanges":"408","num_pairs":"85051","num_pairs_unmapped":"6783","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"347708639.78526777","high_timestamp":"2020-12-02T00:00:00Z","1d":{"volume":"2547896830407.06","price_change":"55337910.81286670","price_change_pct":"0.6167","market_cap_change":"1048807682178866.00","market_cap_change_pct":"0.6167"},"7d":{"volume":"171572699570029.76","price_change":"59963382.56255837","price_change_pct":"0.7045","volume_change":"-290225261905905.56","volume_change_pct":"-0.6285","market_cap_change":"1136922349627095.50","market_cap_change_pct":"0.7051"},"30d":{"volume":"1839214479021851.92","price_change":"55342421.05443449","price_change_pct":"0.6168","volume_change":"384501799576318.95","volume_change_pct":"0.2643","market_cap_change":"1051318779126203.00","market_cap_change_pct":"0.6191"},"365d":{"volume":"25286389267795657.36","price_change":"-98136071.11191586","price_change_pct":"-0.4035","volume_change":"-30507465416721605.74","volume_change_pct":"-0.5468","market_cap_change":"-1779804719201817.50","market_cap_change_pct":"-0.3930"},"ytd":{"volume":"2358309063478456.91","price_change":"78890547.76757069","price_change_pct":"1.1920","volume_change":"1072742446819423.59","volume_change_pct":"0.8345","market_cap_change":"1497423702780663.25","market_cap_change_pct":"1.1961"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","platform_currency":"ETH","price":"10363187.61081401","price_date":"2022-02-07T00:00:00Z","price_timestamp":"2022-02-07T21:08:00Z","circulating_supply":"119486421","market_cap":"1238260193223449","market_cap_dominance":"0.1806","num_exchanges":"441","num_pairs":"78112","num_pairs_unmapped":"58460","first_candle":"2015-08-07T00:00:00Z","first_trade":"2015-08-07T00:00:00Z","first_order_book":"2018-08-29T00:00:00Z","rank":"2","rank_delta":"0","high":"11738621.10831191","high_timestamp":"2021-02-05T00:00:00Z","1d":{"vo[...]
